<div class="youtubeVideo">
  {{ with .Get "desc" }}
    <div class="youtubeVideo-desc">
      {{ . | markdownify}}
    </div>
  {{ end }}
  {{ with .Get "id" }}
  <div class="youtubeVideo-frame">
    <iframe
        width="256"
        height="144"
        src="https://www.youtube.com/embed/{{ . }}"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; gyroscope; picture-in-picture; web-share"
        loading="lazy"
        allowfullscreen></iframe>
  </div>
  {{ end }}
</div>
